@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');



body {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Inter', sans-serif;
    background-color: #aeafaf;
    color: #0c111b;

    /*Kenzo adicionou isso (para mudar de modo escuro para claro)*/
    transition: background 0.2s linear;
}
/*To-do list CSS --------------------------------------------------------*/
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container > * {
    width: 100%;
    max-width: 90vw;
    box-sizing: border-box;
    margin-right: 0;
}

#cabecalho {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    column-gap: 2%;
}

#novaTarefa {
    display: grid;
    grid-template-columns: 2.5fr 1fr 1fr;
    column-gap: 1rem;
    padding: 1.1rem;
    max-width: 90vw;
    width: 100%;
    
    background-color: #b2b2b2;
    border-radius: 7px;
    border: 1px solid #a0a1a4;
    margin-top: 2%;
}

#login {
    background-color: #b2b2b2;
    color: #0c111b;
    border-radius: 7px;
    border: 1px solid #a0a1a4;
}

#modo {
    background-color: #b2b2b2;
    color: #0c111b;
    border-radius: 7px;
    border: 1px solid #a0a1a4;
}

#modo::before {
    content: "\01F319"; /* unicode do emoji de sol */
    font-size: 1.5rem;;
}

#tarefa {
    margin: 5%;
    background-color: #b2b2b2;
    border: 0;
    font-size: medium;
}

#tarefa::placeholder {
    color: #161d26;
}

#data {
    background-color: #b2b2b2;
    color: #161d26;
    border: 0;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

#botaoAdiciona {
    background-color: #047f94;
    color: #dbdada;
    border: 0;
    border-radius: 7px;
    padding: 2%;
    cursor: pointer;
    opacity: 1;
}

#botaoAdiciona:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: #047e947e;
    color: #b7b5b5;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr;
    column-gap: 1rem;
    margin-top: 2%;
    width: 100%;
    height: 70px;
    align-items: center;

    background-color: #b2b2b2;
    color: #161d26;
    border-radius: 7px;
    border: 1px solid #047f94;
}

#taskContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 10px;
    max-width: 100%;
    margin: 10px;
}

#taskContainer p {
    margin: 0;
    line-height: 1.2;
}

/*Esses ids sao os elementos criados pelo javascript para criar a tarefa:

#taskDone (checkbox)

#taskContainer (div que contem a descricao da tarefa e a data)

#taskText (texto da descricao da tarefa)

#taskDate (texto da data)

#taskDelete (botao de deletar a tarefa)
*/
#taskDateInput {
    background-color: #b2b2b2;
    color: #b2b2b2;
    border: 0;
}

#taskDate {
    font-size: 80%;
}

#taskDelete {
    color: #b2b2b2;
    background-color: #bc2020;

    margin: 10%;
    height: 100%;
    max-height: 50%;
    border: 0;
    border-radius: 5px;
}


input[type="checkbox"] {
    accent-color: #047f94;

    transform: scale(1.5);
    margin: 0.5rem;
    cursor: pointer;
}

input[type="checkbox"]:checked + #taskContainer #taskText, input[type="checkbox"]:checked + #taskContainer #taskDate {
    text-decoration: line-through;
    color: #6d727a;
}

/*Sign In Page CSS -----------------------------------------------------*/



/*Sign Up Page CSS -----------------------------------------------------*/



/*Modo Dark Mode----------------------------------------------------------------------------------------------*/

/*To-do list CSS --------------------------------------------------------*/

body.dark-mode {
    background-color: #0c111b;
    color: #b2b2b2;
}

body.dark-mode #novaTarefa {
    background-color: #161d26;
    border: 1px solid #262d39;
}

body.dark-mode input[type="date"]::-webkit-calendar-picker-indicator {
  filter: brightness(0) saturate(100%) invert(49%) sepia(8%) saturate(239%) hue-rotate(175deg) brightness(96%) contrast(87%); /*mudar a cor do ícone do calendário para #6d727a*/
  cursor: pointer;
}

body.dark-mode #login {
    background-color: #161d26;
    color: #b2b2b2;
    border: 1px solid #262d39;
}

body.dark-mode #modo {
    background-color: #161d26;
    color: #b2b2b2;
    border: 1px solid #262d39;
}

body.dark-mode #modo::before {
    content: "\2600"; /*unicode do emoji de sol*/
    color: #f2b016;
}

body.dark-mode #tarefa {
    background-color: #161d26;
    color: #6d727a;
}

body.dark-mode #tarefa::placeholder{
    color: #6d727a;
}

body.dark-mode #data {
    background-color: #161d26;
    color: #6d727a;
}

body.dark-mode #taskDateInput {
    background-color: #161d26;
    color: #161d26;
    border: 0;
}

body.dark-mode #botaoAdiciona {
    background-color: #047f94;
    color: #dbdada;
}

body.dark-mode li {
    background-color: #161d26;
    color: #b2b2b2;
    border: 1px solid #262d39;
}

/*Para colocar no modo escuro, basta colocar body.dark-mode antes do elemento*/
/*Sign In Page CSS -----------------------------------------------------*/



/*Sign Up Page CSS -----------------------------------------------------*/


